## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s="Hi there Sam!"
Y=s.split()

In [ ]:
print(Y)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet ="Earth"
diameter=12742

In [ ]:
print('the diameter of {1} is {0} kilometers.'.format( planet, diameter))

the diameter of 12742 is Earth kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
result=lst[3][1][2]
print(result)

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
#Tuple
'''Tuple is immutable.The items in tuples are surrounded by parentheses( ). Tuples consumes less memory.
In tuple the implication of iterations is comparatively Faster.'''

#List
'''Lists are mutable. The items in lists are surrounded by square brackets [  ]. Lists consume more memory
In list the implication of iterations is Time-consuming'''

'Lists are mutable. The items in lists are surrounded by square brackets [  ]. Lists consume more memory\nIn list the implication of iterations is Time-consuming'

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainSplit(email):
    return email.split('@')[-1]

In [ ]:
domainSplit("user@domain.com")

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(inp):
    if 'dog' in inp.lower():
        print("True")
    else:
        print("False")

In [ ]:
inp = "who has the brown dog?"
findDog(inp)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def DogCounter(inp):
    count=0
    for word in inp.lower().split():
         if word == "dog":
             count+=1
    return count

In [ ]:
DogCounter("he has a pitbull dog and he sold that dog to his neighbor")

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(100,False)

'Big Ticket'

In [ ]:
caught_speeding(80,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employees = ["Abisheak", "Dhanush", "Gopikishore", "Hariharn", "SamsonRaja"]    
salary={}
for emp in employees:
    try:
       amt=int(input(f'Enter salary for {emp}: '))
       salary[emp]=amt
    except ValueError:
       print(f'Wrong salary input for {emp} ')
print(salary)
print('Total Salary Expenditure ',sum(salary.values()))

Enter salary for Abisheak: 15000
Enter salary for Dhanush: 50000
Enter salary for Gopikishore: 25999
Enter salary for Hariharn: 30000
Enter salary for SamsonRaja: 30000
{'Abisheak': 15000, 'Dhanush': 50000, 'Gopikishore': 25999, 'Hariharn': 30000, 'SamsonRaja': 30000}
Total Salary Expenditure  150999

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
dict1 = {'Empid': 1001, 'empname': 'Harini', 'Basicpay' : 100000 }
dict2 = {'DeptName': 'Test engineer','DeptId': 106, }
dict3 = {**dict1,**dict2}
print(dict3)

{'Empid': 1001, 'empname': 'Harini', 'Basicpay': 100000, 'DeptName': 'Test engineer', 'DeptId': 106}